.producto-detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;

    background: linear-gradient(to bottom, #000000 0%, #121315 50%, #090909 100%);
    padding: 40px 20px;
}


.info-lado {
    width: 100%;
    max-width: 550px;
    padding: 35px 30px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 12px;
    border: 1px solid #1a1a1a;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
}

.info-lado h2 {
    color: #F1D600;
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 900;
}

.info-lado p {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.info-lado i {
    color: #F1D600;
    font-size: 1.3rem;
    filter: drop-shadow(0 0 5px rgba(241, 214, 0, 0.2));
}

.info-lado strong {
    color: #F1D600;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
}


.btn-corsair,
.btn-corsair:visited {
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background-color: transparent;
    color: #F1D600 !important;
    border: 1px solid #F1D600;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.3s all ease;
    letter-spacing: 1.5px;
    font-size: 0.85rem;
}

.btn-corsair:hover {
    background-color: #F1D600;
    color: #000 !important;
    box-shadow: 0 0 20px rgba(241, 214, 0, 0.4);
    transform: translateY(-2px);
}

.footer-proyecto {
    margin-top: 40px;
    opacity: 0.4;
    font-size: 0.75rem;
    border-top: 1px solid #222;
    padding-top: 15px;
    color: #888;
}

@media (max-width: 480px) {
    .info-lado {
        padding: 25px 15px;
        width: 95%;
    }

    .info-lado p {
        flex-direction: column;
        gap: 5px;
        font-size: 0.9rem;
    }

    .info-lado h2 {
        font-size: 1.3rem;
        letter-spacing: 2px;
    }
}